{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h1 style="color: green;">{{ message }}</h1>
          <script>
            $(document).ready(function() 
            {
              /*function buttonView() 
              {
                if($("#gen-keys-confirm").data("clicked"))
                {
                  $("#gen-keys").attr("disabled", true);
                  $("#download").attr("disabled", false);
                }
                else
                {
                  $("#gen-keys").attr("disabled", false)
                  $("#download").attr("disabled", true);
                }
              }*/
          
              $("#gen-keys").on("click", function() 
              {
                $("#gen-keys-modal").modal("show");
              });
          
              $("#gen-keys-confirm").on("click", function()
              {
                $("gen-keys").hide();
                $("#download").show();
              });
          
              //buttonView();
            });
          </script>
        {% endfor %}
      {% endif %}
{% endwith %}

<h2 class="header2">Generate Keys / Download OpenVPN</h2>
<form method="POST">
   <div class="button-center">
      <!--<button type="button" onclick="window.location.href='{{ url_for( 'createVPN' ) }}';" class="btn btn-primary" id="gen-keys">Generate Keys</button>-->
      <button type="button" class="btn btn-primary divider" id="gen-keys">Generate Keys</button>
      <button type="button" onclick="window.location.href='{{ url_for( 'downloadFile' ) }}';" class="btn btn-success divider" id="download" >Download</button>
   </div>
</form>

<div id="gen-keys-modal" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header bg-dark text-light">
         <h5 class="modal-title">Generate {{ current_user.username }}'s Keys</h5>
       </div>
       <p style="padding-left: 15px; padding-right: 15px;">Generate Certificate Request to be signed by a Certificate Authority and receive Public and Private key pair. </p>
       <div class="modal-footer">
         <button type="button" onclick="window.location.href='{{ url_for( 'createVPN' ) }}';" class="btn btn-primary" id="gen-keys-confirm">Generate Keys</button>
         <button id="btnNo" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
       </div>
     </div>
   </div>
 </div>

<div style="text-align: center;">
   <p>After file download is complete, please go to <a href="/setup">How to Use</a> page to follow configuration guide of .ovpn file.</p>
</div>

<script>
  $(document).ready(function() 
            {
              /*function buttonView() 
              {
                if($("#gen-keys-confirm").data("clicked"))
                {
                  $("#gen-keys").attr("disabled", true);
                  $("#download").attr("disabled", false);
                }
                else
                {
                  $("#gen-keys").attr("disabled", false)
                  $("#download").attr("disabled", true);
                }
              }*/
              $("#download").hide();
              $("#gen-keys").on("click", function() 
              {
                $("#gen-keys-modal").modal("show");
              });
          
              /*$("#gen-keys-confirm").on("click", function()
              {
                //$("gen-keys").attr("disabled", true);
                $("#download").show();
              });*/
          
              //buttonView();
            });
</script>

<!--set true value for jinja message to hide button-->

{% endblock %}
