{% extends 'base.html' %}
{% block content %}
<h2 style="font-size: 250%; text-align: center;"><i><strong>About Our Goal</strong></i></h2>

<img class="img-about" src="/static/pics/openvpn-about.jpg"><br>

<p class="para-about">This site is a project that allows potential clients to use OpenVPN (an open source VPN) to achieve secure point-to-point and site-to-site connections. The benefit of using this site is that the process of getting a certificate request signed by a Certificate Authority is automated and the client's public and private keys to be used are incorporated with the downloaded ovpn file.</p><br>

<img class="img-about" src="/static/pics/encryption.png"><br><br>

<p class="para-about">We use AES-128 for encryption keys and a combination of TLS and SSL protocols. OpenVPN utilizes UDP to transmit data for clients. You will be able to see in your configuration file that OpenVPN uses tls-auth for HMAC signature verification to avoid vulnerabilities like scanning and DoS attacks.</p><br>

<img class="img-about" src="/static/pics/ubuntu.jpg"><br><br>

<p class="para-about">The downloadable configuration file and how to guide is set up specifically for Linux clients and based on Ubuntu, but the configuration should work on most other Linux distributions.</p>
{% endblock %}
